<nav class="site-nav">
    <div class="site-nav-left">
        {{#if @site.navigation}}
            {{navigation}}
        {{/if}}
    </div>
    <div class="site-nav-right">
    	<form id="pp-search" class="pp-search">
		    <input type="text" id="search-field" placeholder="Search" href="javascript:void(0)" class="openSearch" onkeydown="openSearch()">
		    <i id="search-icon" class="fas fa-search"></i>
		    <div id="ppSearchResults" class="pp-search-results">
		    	<a href="javascript:void(0)" class="closebtn" onclick="closeSearch()">&times;</a>
		    	<div id="search-title" class="search-title">Search Results</div>
		    	<section id="results"></section>
		 	</div>
		</form>
    </div>
</nav>



<script>
	function openSearch() {
	  	document.getElementById("ppSearchResults").style.display = "block";
	  	document.getElementsByTagName("BODY")[0].setAttribute("style", "overflow: hidden; height: 100vh;");
	  	document.getElementsByTagName("MAIN")[0].setAttribute("style", "pointer-events: none");
	}
	function closeSearch() {
	  	document.getElementById("ppSearchResults").style.display = "none";
	  	document.getElementsByTagName("BODY")[0].setAttribute("style", "overflow: scroll; height: auto;");
	 	document.getElementsByTagName("MAIN")[0].setAttribute("style", "pointer-events: auto");
	}
</script>

<script>
	var searchOverlay = document.getElementById("ppSearchResults");
	var searchOverlayTitle = document.getElementById("search-title");
	var searchBar = document.getElementById("search-field");
	var searchIcon = document.getElementById("search-icon");
	console.log(searchOverlayTitle);
	window.onclick = function(event) {
		console.log(event.target);
		var condition = (event.target==searchOverlay) || (event.target==searchOverlayTitle) || (event.target==searchBar) || (event.target==searchIcon);
		if (!condition){
			closeSearch();
		}
	}
</script>