{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}
{{!-- Everything inside the #author tags pulls data from the author --}}


{{> header background=feature_image}} {{!--Special header.hbs partial to generate the <header> tag--}}
    <div class="inner">
        {{> "site-nav"}}
        <div class="site-header-content">
            {{#if profile_image}}
                <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
            {{/if}}
            <h1 class="site-title">{{name}}</h1>
        </div>
    </div>
</header>
{{/author}}

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <section class="post-full-content author-inner">
    <div class="post-content">
        <h2 id="whythisblog">why this blog?</h2>
        <p>Years ago I realized that 90% of the information I searched for in my daily life came from others--personal blogs, pinterest, discussion forums--rather than from traditional news sources.  Since then, I've been writing guides to help and inspire others.</p>
        <h2>my story</h2>
        <p>...I have a B.S. Electrical Engineering from Rice University</p>
        <p>...I spent 8 years working at Google as an Engineering Program Manager</p>
        <p>...I've been rock climbing since 2008, ticking climbs up to V9 and 5.12b</p>
        <p>...I've had two ACL reconstruction surgeries</p>
        <p>...I've been dabbling in photography since 2004</p>
        <p> ...I've spent over 9 months traveling the US and Canada in a van with my husband, exploring the outdoors and climbing</p>
        <p>...I enjoy sewing handmade quilts, from patchwork to machine quilting</p>
        <p>...I had a very active pregnancy, and now enjoy all my hobbies with our son!</p>

        <h2 id="photographyinquiries">photography inquiries</h2>
        <p>All photos are licensed and copyrighted to me unless given credit otherwise. I love inspiring people to travel and explore through my photos. If you'd like to use my photos, please contact me!</p>

        <h2>contact</h2>
        <p>patchworkandpebbles@gmail.com</p>
    </div>
</section>
</main>
